.generalFrame{
    height: 80px;
    background-color: #dbcbcb;
}

.container{
    margin: 0 auto;
    border: 1px solid #aca5a5;
    height: 100%;
    width: 80%;
display: flex;
    justify-content: flex-end;
    align-items: center;
}

