.skillsBlok{
    min-height: 100vh;
    background-color: #d7d7d9;

}

.titleAndStills{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills{
    border: 1px solid #aca5a5;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #eaeaed;
    flex-wrap: wrap;
}

.title{
    background-color: #e3e3e6;
    color: #460c0c;
}