
.frame {
    display: flex;
    flex-direction:column;
   align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 300px;
    background-color: #dedee0;
}

.icone {
    width: 70px;
    height: 50px;
    background-color: #f2e181;
}

.show {
    width: 80%;
    height: 120px;
   background-image: url("https://st2.depositphotos.com/1206128/5228/i/600/depositphotos_52287825-stock-photo-little-sketchy-man-with-santa.jpg");
   background-size:cover ;
    background-position:center ;
    display: flex;
    justify-content: space-around;
    align-items: center;

}