.projectsTitleBlok{
    min-height: 100vh;
    background-color: rgb(231, 233, 233);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleBlok{
    background-color: #d9d9dd;
    color: #460c0c;
}

.projectsBlok{
    border: 1px solid #aca5a5;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #eaeaed;
    flex-wrap: wrap;
}